@import url("https://fonts.googleapis.com/css?family=Dancing%20Script");
@import url("https://fonts.googleapis.com/css?family=M%20PLUS%20Rounded%201c");

:root {
  --primary-color: #ac9fbb;
  --dark-primary-color: #1d1e2c;
  --secondary-color: #ddbdd5;
  --dark-secondary-color: #59656f;
  --font-color: #000000;
  --background-color: #f7ebec;
  --main-font: "M PLUS Rounded 1c", Arial, Helvetica, sans-serif;
  --accent-font: "Dancing Script", serif;
  --background-color-transparent: #f7ebec53;
  --transparent-dark: rgba(0, 0, 0, 0.1);
}

/* [dark-mode="dark"]{
    --primary-color: #9CBFAA;
    --dark-primary-color: #557772;
    --secondary-color: #8C546E;
    --dark-secondary-color: #700A15;
    --shadow-color: #B9C7CB;
    --font-color: #FFFFFF;
    --background-color: #000000;    
    --background-color-transparent: rgba(0, 0, 0, 0.75);
} */

html {
  height: 100%;
  width: 100%;
  font-family: var(--main-font);
  color: var(--font-color);
  /* background-color: var(--background-color); */
  background: linear-gradient(
    to bottom,
    var(--background-color),
    var(--dark-secondary-color)
  );
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1 {
  color: var(--light-secondary-color);
  margin: 0;
  font-family: var(--accent-font);
  font-size: calc(2vw + 2vh + 2rem);
  text-align: center;
}

#loadingScreen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  box-shadow: 0 0 40px 10px #000000;
  background: radial-gradient(
    var(--background-color) 0%,
    var(--background-color-transparent) 20%,
    transparent 80%
  );
}

#loadingScreen.display {
  display: flex;
  align-self: center;
}

#loadingScreen img {
  width: 20%;
  display: flex;
  align-self: center;
  margin: auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  width: 100%;
  max-width: 30rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  background-color: var(--primary-color);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 2px 4px var(--shadow-color-dark-transparent);
  display: inline-block;
  color: white;
  background: linear-gradient(
    45deg,
    var(--secondary-color),
    var(--primary-color),
    var(--secondary-color)
  );
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 4px 6px var(--transparent-dark);
  position: relative;
  overflow: hidden;
}

button:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.4) 10%,
    transparent 50%
  );
  transform: scale(0);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

button:hover:before {
  transform: scale(1);
  opacity: 1;
}
