@import "main.css";

main {
  justify-content: space-between;
  align-items: center;
}

.dress-item {
  max-height: 80vh;
  width: 80vw;
  object-fit: contain;
  position: absolute;
  top: 5vh;
  left: 10vw;
}

.nav-buttons, 
.next-button-list{
  position: absolute;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 0;
  padding: 0;
  top: 20vh;
}

.next-button-list{
  align-items: end;
  right: 10vw;
}

.nav-buttons{
  align-items: start;
  left: 10vw;
}


.nav-buttons li,
.next-button-list li{
  height: 10vh;
}

.next-button-list button,
.nav-buttons button{
  max-width: 20rem;
  width: 30vw;
  font-size: calc(18px + 0.8vw);
  height: fit-content;
}

#go-to-favourites::after{
  content: "MY FAVOURITES";
}

.heart-button::before {
  content: "❤";
  position: absolute;
  font-size: 2rem;
  top: 0;
  right: 15%;
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 620px){
  .next-button-list{
    right: 2vw;
  }
  
  .nav-buttons{
    left: 2vw;
  }

  #go-to-favourites::after{
    content: "MY FAVS";
  }
}
