@import "main.css";

main {
  justify-content: space-between;
  align-items: center;
}

#logout-button,
#go-to-dress {
  max-width: 10rem;
  position: absolute;
  right: 0;
}

#go-to-dress {
  font-size: medium;
  bottom: 8vh;
}

#logout-button {
  bottom: 0;
}

.heart-button {
  width: 10rem;
  margin-left: 5vw;
  margin-top: 40vh;
}

.heart-button::before {
  position: absolute;
  font-size: 2rem;
  top: 0;
  right: 15%;
  opacity: 0.5;
  pointer-events: none;
}

.floaty-heart {
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
}
.floaty-heart::before {
  position: absolute;
  font-size: 2rem;
  right: 40%;
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 620px) {
  #logout-button,
  #go-to-dress {
    position: relative;
    bottom: 0;
    margin: 0.5rem;
  }

  .dress-buttons {
    display: flex;
    flex-direction: column;
  }
}
